<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197253225414-aglsqotehr5bfa3mmus1nj8uktvmfm1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197253225414-aglsqotehr5bfa3mmus1nj8uktvmfm1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAWFmPiGfLUfa0y7bh1dNnTk_cRlDqeB-M</string>
	<key>GCM_SENDER_ID</key>
	<string>197253225414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogapp</string>
	<key>PROJECT_ID</key>
	<string>blog-app-flutter-2669b</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-app-flutter-2669b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197253225414:ios:0ff1365d8acd8af24a30c7</string>
</dict>
</plist>